@page "/fetchdata"
@inject HttpClient Http
@inherits FetchDataBase

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (SuperHeroes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Place</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var superHero in SuperHeroes)
            {
                <tr>
                    <td>@superHero.Id</td>
                    <td>@superHero.Name</td>
                    <td>@superHero.FirstName</td>
                    <td>@superHero.LastName</td>
                     <td>@superHero.Place</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

}
